h1, p {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 4rem;
}

body > * {
  margin-top: 10vh;
  text-align: center;
}

img {
  width: 15vw;
}

@media only screen
and (min-device-width : 300px)
and (max-device-width : 768px) {
  img {
    width: 50vw;
  }

  h1 {
    font-size: 8rem;
  }

  p {
    font-size: 2.5rem;
  }
}